--- 
layout: page 
title: "About" 
description: "Hey, this is Taotao." 
header-img: "img/about-bg1.jpg" 
---
<!-- Language Selector -->
<select onchange="onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>
<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        我不是一个极客，我只是一个假的艺术家；我不是一个艺术家，我只是一个假的极客。
    </blockquote>
    <p>Hey,我是徐涛焘，你也可以叫我涛焘。</p>
    <p>目前我是一名前端工程师，主要技术栈为JavaScript，Vue.js，React，专注于VUE移动端开发以及React Web端开发。我希望自己能够一直保持对web设计的喜爱并长期坚持下去，争取以后成为一名优秀的web前端工程师。</p>
</div>
<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Not a geek,a fake artist;not a artist ,a fake geek。
    </blockquote>
    <p>
        Hey, I'm TaotaoXu,my English name is Terence.
    </p>
    <p>
      At present, I am a front-end engineer, mainly responsible for JavaScript, Vue. Js, React, focusing on Vue mobile terminal development and React Web terminal development. I hope I can keep my love for front-end development and stick to it for a long time to become an excellent front-end engineer in the future.
    </p>
</div>
<!-- Handle Language Change -->
<script type="text/javascript">
var $zh = document.querySelector(".zh");
var $en = document.querySelector(".en");

function onLanChange(index) {
    if (index == 0) {
        $zh.style.display = "block";
        $en.style.display = "none";
    } else {
        $en.style.display = "block";
        $zh.style.display = "none";
    }
}
onLanChange(0);
</script>
{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread" {% if site.duoshuo_username=="huxblog" %} data-thread-id="1187623191091085319" {% else %} data-thread-key="{{site.duoshuo_username}}/about" {% endif %} data-title="{{page.title}}" data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->
<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}" />
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
// dynamic User hacking by Hux
var _user = document.getElementById('dsUser').value;
// duoshuo comment query.
var duoshuoQuery = { short_name: _user };
(function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';
    ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] ||
        document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
<!-- 多说公共JS代码 end -->
{% endif %} {% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->
<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES * * */
var disqus_shortname = "{{site.disqus_username}}";
var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
var disqus_url = "{{site.url}}{{page.url}}";

(function() {
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}